In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\visual singh\anaconda3\anaconda file\lib\site-packages (4.5.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\visual singh\anaconda3\anaconda file\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\visual singh\anaconda3\anaconda file\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\visual singh\anaconda3\anaconda file\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\visual singh\anaconda3\anaconda file\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\visual singh\anaconda3\anaconda file\lib\site-packages (from trio~=0.17->selenium) (1.0.0rc9)
Requirement already satisfied: outcome in c:\users\visual singh\anaconda3\anaconda file\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\visual singh\anaconda3\anaconda file\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\visual singh\anaconda3\anaconda file\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\users\visual singh\anaconda3\anaconda file\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\visual singh\anaconda3\anaconda file\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\visual singh\anaconda3\anaconda file\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\users\visual singh\anaconda3\anaconda file\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\visual singh\anaconda3\anaconda file\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\visual singh\anaconda3\anaconda file\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\visual singh\anaconda3\anaconda file\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\visual singh\anaconda3\anaconda file\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
# lets now import all the required libraries

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By

import time

In [3]:
# Lets first connect to the web driver

driver=webdriver.Chrome(r"C:\Users\Visual singh\Downloads\chromedriver_win32 (1)\chromedriver.exe")

In [4]:
# to open flipkart for SAMSUNG Galaxy F13 (Waterfall Blue, 64 GB)

driver.get('https://www.flipkart.com/samsung-galaxy-f13-waterfall-blue-64-gb/p/itm583ef432b2b0c?pid=MOBGENJWBPFYJSFT&lid=LSTMOBGENJWBPFYJSFT1ZY7B0&marketplace=FLIPKART&q=smartphone&store=tyy%2F4io&srno=s_1_1&otracker=AS_QueryStore_OrganicAutoSuggest_1_6_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_6_na_na_na&iid=2c5ce2f1-4a43-4a30-9152-2e17b94c2965.MOBGENJWBPFYJSFT.SEARCH&ssid=84ai51mke80000001667188856571&qH=1036ba3c4ed2c021')

In [5]:
# To click all review option

All_Reviews=driver.find_element(By.XPATH,"//div[@class='_3UAT2v _16PBlm']")
All_Reviews.click()

In [6]:
# Creating Empty List

urls=[]
short_review=[]
complete_review=[]
Rating=[]
time.sleep(2)

In [7]:
start=0
end=400
for page in range(start,end):#for loop for scrapping 300 page
    
    short_reviews=driver.find_elements(By.CLASS_NAME,'_2-N8zT')#scraping review title 
    for i in short_reviews:
        short_review.append(i.text)
    
    complete_reviews=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")#scraping detailed review
    for i in complete_reviews:
        complete_review.append(i.text)
    
    stars=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")#scraping detailed review
    for i in stars:
        Rating.append(i.text)
    
    nxt_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")#scraping the list of buttons from the page

In [8]:
print(len(Rating),len(short_review),len(complete_review))

4000 4000 4000

In [9]:
# creating dataframe for SAMSUNG Galaxy F13 (Waterfall Blue, 64 GB) 

df1=pd.DataFrame({'Rating':Rating,'Short_Review':short_review,'Detailed_Review':complete_review})
df1

,Rating,Short_Review,Detailed_Review
0,5,Terrific,Mobile is fine and satisfied for all but i thi...
1,5,Excellent,Good phone for the price\nDisplay is average\n...
2,5,Excellent,Very fast delivery battery backup is good came...
3,3,Fair,"This mobile is purely for normal use, I don't ..."
4,4,Nice product,"I am using this Phone since last 7 days , Feel..."
...,...,...,...
3995,4,Value-for-money,The 50 MP camera performs like a 48 MP camera ...
3996,5,Mind-blowing purchase,üåüIts a great day to day usage phoneüåü\nBest bud...
3997,5,Just wow!,Best budget buy. Gifted this phone 2 my father...
3998,5,Terrific purchase,Very good budget branded Phone.\nNot suitable ...
3999,4,Good quality product,I like this product almost all aspects I'm giv...

In [10]:
driver.close()

In [11]:
# Lets first connect to the web driver

driver=webdriver.Chrome(r"C:\Users\Visual singh\Downloads\chromedriver_win32 (1)\chromedriver.exe")

In [12]:
# to open flipkart for realme 9i (Prism Blue, 128 GB)  (4 GB RAM)

driver.get('https://www.flipkart.com/realme-9i-prism-blue-128-gb/p/itm3e9987219f652?pid=MOBGBMZHMUHYWFAE&lid=LSTMOBGBMZHMUHYWFAE85XWU8&marketplace=FLIPKART&q=mobiles&store=tyy%2F4io&srno=s_1_6&otracker=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&iid=3e36bb42-f7a7-499a-b363-38be17d33c47.MOBGBMZHMUHYWFAE.SEARCH&ssid=bqbdjxm24g0000001667300788470&qH=eb4af0bf07c16429')

In [13]:
# To click all review option

All_Reviews=driver.find_element(By.XPATH,"//div[@class='_3UAT2v _16PBlm']")
All_Reviews.click()

In [14]:
# Creating Empty List

urls=[]
short_review=[]
complete_review=[]
Rating=[]
time.sleep(2)

In [15]:
start=0
end=400
for page in range(start,end):#for loop for scrapping 250 page
    
    short_reviews=driver.find_elements(By.CLASS_NAME,'_2-N8zT')#scraping review title 
    for i in short_reviews:
        short_review.append(i.text)
    
    complete_reviews=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")#scraping detailed review
    for i in complete_reviews:
        complete_review.append(i.text)
    
    stars=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")#scraping detailed review
    for i in stars:
        Rating.append(i.text)
    
    nxt_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")#scraping the list of buttons from the page

In [16]:
print(len(Rating),len(short_review),len(complete_review))

4000 4000 4000

In [17]:
# creating dataframe for realme 9i (Prism Blue, 128 GB)  (4 GB RAM)

df2=pd.DataFrame({'Rating':Rating,'Short_Review':short_review,'Detailed_Review':complete_review})
df2

,Rating,Short_Review,Detailed_Review
0,5,Classy product,Overall performance are awesome best camera be...
1,4,Pretty good,I got what I aspected\nPerformance is awesome\...
2,5,Great product,A good Mobile in this Budget..Great üëç Camera q...
3,4,Good choice,I like it product best camera and best Quality...
4,4,Value-for-money,This is a very good looking mobile. Solid feel...
...,...,...,...
3995,5,Worth every penny,Nice product . In comparison to its predecesso...
3996,3,Decent product,Everything is good except the camera. Even 3 y...
3997,5,Must buy!,First online phone delivery ! It was good and ...
3998,5,Terrific purchase,Very Nice Product It's 3 Week Review And Devic...
3999,5,Highly recommended,A good Mobile in this Budget..Great üëçCamera qu...

In [18]:
driver.close()

In [19]:
# Lets first connect to the web driver

driver=webdriver.Chrome(r"C:\Users\Visual singh\Downloads\chromedriver_win32 (1)\chromedriver.exe")

In [20]:
# to open flipkart for SAMSUNG Galaxy F22 (Denim Blue, 64 GB)  (4 GB RAM)

driver.get('https://www.flipkart.com/realme-c35-glowing-black-64-gb/p/itmafb045222b2cf?pid=MOBGBTHFDQXQEGNS&lid=LSTMOBGBTHFDQXQEGNSDMOGPH&marketplace=FLIPKART&q=mobiles&store=tyy%2F4io&srno=s_1_19&otracker=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&iid=77d2d9fd-5c5f-43d6-930e-1c158e6ff9d3.MOBGBTHFDQXQEGNS.SEARCH&ssid=kp0fjs2igw0000001667315954848&qH=eb4af0bf07c16429')

In [21]:
# To click all review option

All_Reviews=driver.find_element(By.XPATH,"//div[@class='_3UAT2v _16PBlm']")
All_Reviews.click()

In [22]:
# Creating Empty List

urls=[]
short_review=[]
complete_review=[]
Rating=[]
time.sleep(2)

In [23]:
start=0
end=400
for page in range(start,end):#for loop for scrapping 250 page
    
    short_reviews=driver.find_elements(By.CLASS_NAME,'_2-N8zT')#scraping review title 
    for i in short_reviews:
        short_review.append(i.text)
    
    complete_reviews=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")#scraping detailed review
    for i in complete_reviews:
        complete_review.append(i.text)
    
    stars=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")#scraping detailed review
    for i in stars:
        Rating.append(i.text)
    
    nxt_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")#scraping the list of buttons from the page

In [24]:
print(len(Rating),len(short_review),len(complete_review))

4000 4000 4000

In [25]:
# creating dataframe for SAMSUNG Galaxy F22 (Denim Blue, 64 GB)  (4 GB RAM)

df3=pd.DataFrame({'Rating':Rating,'Short_Review':short_review,'Detailed_Review':complete_review})
df3

,Rating,Short_Review,Detailed_Review
0,5,Excellent,I really like this phone . I am very happy. My...
1,5,Worth every penny,The phone looks are very classic especially th...
2,3,Nice,Wow so beautiful mobile i liket so really look...
3,5,Awesome,This phone is really to good ......\nThis phon...
4,5,Simply awesome,I really like this phone. I am very happy. Whe...
...,...,...,...
3995,5,Wonderful,Realme c35 it's really good design super camer...
3996,5,Classy product,Phone battery is good but front camera is ok o...
3997,5,Worth every penny,The brand is very trustworthy and i got genuin...
3998,5,Brilliant,Best under budget but camera is need to improv...
3999,5,Great product,This is better for normal person. It camera is...

In [26]:
driver.close()

In [35]:
# Lets first connect to the web driver

driver=webdriver.Chrome(r"C:\Users\Visual singh\Downloads\chromedriver_win32 (1)\chromedriver.exe")

In [36]:
# to open flipkart for SAMSUNG Galaxy F22 (Denim Blue, 64 GB)  (4 GB RAM)

driver.get('https://www.flipkart.com/motorola-e40-pink-clay-64-gb/p/itm5d6f2871d1bbf?pid=MOBG2EMW2ZUR4BFG&lid=LSTMOBG2EMW2ZUR4BFGEC0C0J&marketplace=FLIPKART&q=mobiles&store=tyy%2F4io&srno=s_1_16&otracker=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&iid=77d2d9fd-5c5f-43d6-930e-1c158e6ff9d3.MOBG2EMW2ZUR4BFG.SEARCH&ssid=9aaf50je3k0000001667357969683&qH=eb4af0bf07c16429')

In [37]:
# To click all review option

All_Reviews=driver.find_element(By.XPATH,"//div[@class='_3UAT2v _16PBlm']")
All_Reviews.click()

In [38]:
# Creating Empty List

urls=[]
short_review=[]
complete_review=[]
Rating=[]
time.sleep(2)

In [39]:
start=0
end=400
for page in range(start,end):#for loop for scrapping 200 page
    
    short_reviews=driver.find_elements(By.CLASS_NAME,'_2-N8zT')#scraping review title 
    for i in short_reviews:
        short_review.append(i.text)
    
    complete_reviews=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")#scraping detailed review
    for i in complete_reviews:
        complete_review.append(i.text)
    
    stars=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")#scraping detailed review
    for i in stars:
        Rating.append(i.text)
    
    nxt_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")#scraping the list of buttons from the page

In [40]:
print(len(Rating),len(short_review),len(complete_review))

4000 4000 4000

In [41]:
# creating dataframe for SAMSUNG Galaxy F22 (Denim Blue, 64 GB)  (4 GB RAM)

df4=pd.DataFrame({'Rating':Rating,'Short_Review':short_review,'Detailed_Review':complete_review})
df4

,Rating,Short_Review,Detailed_Review
0,4,Delightful,Best purchase with a good price.\nCamera quali...
1,5,Highly recommended,Very good üëç phone\nLatest processor T700 from ...
2,4,Value-for-money,"Moto e40 Box comes with Phone, 10w charger, C ..."
3,,,
4,,,
...,...,...,...
3995,5,Awesome,Good value for money phone. Best past is this ...
3996,4,Pretty good,Writing this review after 10 days. As per pric...
3997,4,Pretty good,Best mobile in low price but if you are decora...
3998,5,Must buy!,Surprising Performance and Worth the Price. Be...
3999,4,Worth the money,This mobile low budget in a good phone .\nGood...

In [42]:
driver.close()

In [43]:

##append all DataFrames into one DataFrame
# df = pd.concat([df1,df2,df3,df4])
# or
df = pd.concat([df1,df2, df3,df4], ignore_index=True)

In [44]:
df

,Rating,Short_Review,Detailed_Review
0,5,Terrific,Mobile is fine and satisfied for all but i thi...
1,5,Excellent,Good phone for the price\nDisplay is average\n...
2,5,Excellent,Very fast delivery battery backup is good came...
3,3,Fair,"This mobile is purely for normal use, I don't ..."
4,4,Nice product,"I am using this Phone since last 7 days , Feel..."
...,...,...,...
15995,5,Awesome,Good value for money phone. Best past is this ...
15996,4,Pretty good,Writing this review after 10 days. As per pric...
15997,4,Pretty good,Best mobile in low price but if you are decora...
15998,5,Must buy!,Surprising Performance and Worth the Price. Be...
15999,4,Worth the money,This mobile low budget in a good phone .\nGood...

In [45]:
df.round()

,Rating,Short_Review,Detailed_Review
0,5,Terrific,Mobile is fine and satisfied for all but i thi...
1,5,Excellent,Good phone for the price\nDisplay is average\n...
2,5,Excellent,Very fast delivery battery backup is good came...
3,3,Fair,"This mobile is purely for normal use, I don't ..."
4,4,Nice product,"I am using this Phone since last 7 days , Feel..."
...,...,...,...
15995,5,Awesome,Good value for money phone. Best past is this ...
15996,4,Pretty good,Writing this review after 10 days. As per pric...
15997,4,Pretty good,Best mobile in low price but if you are decora...
15998,5,Must buy!,Surprising Performance and Worth the Price. Be...
15999,4,Worth the money,This mobile low budget in a good phone .\nGood...

# Model Building Phase

In [ ]:
# For importing matplotlib, use - from matplotlib import pyplot as plt or

import matplotlib.pyplot as plt 
import numpy as np

In [ ]:
# to plot the information into bar
df['Rating'].plot.bar()

In [ ]:
# To display maths through histogram

plt.hist(df['Rating'],bins=10)
plt.title('Rating Histogram')
plt.show()

In [ ]:
# Lets first connect to the web driver

driver=webdriver.Chrome(r"C:\Users\Visual singh\Downloads\chromedriver_win32 (1)\chromedriver.exe")

In [ ]:
# to open flipkart for SAMSUNG Galaxy F22 (Denim Blue, 64 GB)  (4 GB RAM)

driver.get('https://www.flipkart.com/samsung-galaxy-f13-waterfall-blue-64-gb/p/itm583ef432b2b0c?pid=MOBGENJWBPFYJSFT&lid=LSTMOBGENJWBPFYJSFT1ZY7B0&marketplace=FLIPKART&q=mobiles&store=tyy%2F4io&srno=s_1_1&otracker=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&iid=77d2d9fd-5c5f-43d6-930e-1c158e6ff9d3.MOBGENJWBPFYJSFT.SEARCH&ssid=bs6le834kg0000001667388151596&qH=eb4af0bf07c16429')

In [ ]:
# To click all review option

All_Reviews=driver.find_element(By.XPATH,"//div[@class='_3UAT2v _16PBlm']")
All_Reviews.click()

In [ ]:
# Creating Empty List

urls=[]
short_review=[]
complete_review=[]
Rating=[]
time.sleep(2)

In [ ]:
start=0
end=400
for page in range(start,end):#for loop for scrapping 200 page
    
    short_reviews=driver.find_elements(By.CLASS_NAME,'_2-N8zT')#scraping review title 
    for i in short_reviews:
        short_review.append(i.text)
    
    complete_reviews=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")#scraping detailed review
    for i in complete_reviews:
        complete_review.append(i.text)
    
    stars=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")#scraping detailed review
    for i in stars:
        Rating.append(i.text)
    
    nxt_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")#scraping the list of buttons from the page

In [ ]:
print(len(Rating),len(short_review),len(complete_review))

In [ ]:
# creating dataframe for SAMSUNG Galaxy F22 (Denim Blue, 64 GB)  (4 GB RAM)

df5=pd.DataFrame({'Rating':Rating,'Short_Review':short_review,'Detailed_Review':complete_review})
df5